
body{
	background-image:url("homepage_photo.jpg");
	background-size:100% 1000px;
	background-repeat:no-repeat;
	}
.img{
margin-top:100px;
margin-left: 500px;
}
#image{
	margin-top:30px;
}

#msg{
	margin-top:5px;
}
#timestamp{
	color:white;
	font-size: 3em;
}
.title{
	font-size:6em;
	color:#5b6d8c;
	font-style: oblique
	font-weight: 400;
}